---
name: "Tests"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test-main:
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.2', '3.3', '3.4', '4.0', 'jruby-9.4', 'jruby-10.0']
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: "Ruby: ${{ matrix.ruby }}"
      run: bundle install && bundle exec rake test
